
     * {
          box-sizing: border-box
     }
     
     .clear::after {
          content: "";
          display: table;
          clear: both;
     }
     
     body {
          font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
          color: #777777;
          margin: 0;
          padding:0;
          font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
          /* line-height: 25px; */
          /* background: url('../images/cork-wallet.png');  */
          
     }
     .main-width{
        width: 100vw;
        height:700px;
     }
     .nav{
          width:100vw;
          padding: 30px;
          background-color:blue;
          
    }
   
    .name_div{
         width:100vw;
         height:100%;
         background-color:rgb(62, 97, 53);
         
    }
    .image_div{
     width:100vw;
     height:100%;
     background-color:darkcyan;
}
/* About me*/
.about{
     width:100vw;
     height:500px;
     background-color:rgb(197, 59, 231);
}

.project{
     width:100vw;
     height:400px;
     background-color:rgb(220, 231, 59);
}
.project-item{
     width:100vw;
     height:500px;
   
}
.progress {
     height: 300px;
 }
 .progress > svg {
     height: 100%;
     display: block;
 }
