
* {
     box-sizing: border-box
}

.clear::after {
     content: "";
     display: table;
     clear: both;
}

body {
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     color: white;
     margin: 0;
     padding: 0;
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     overflow-y: scroll;
     overflow-x: hidden;

}

.container-fluid {
     margin: 0;
     padding: 0;
     background-color: rgb(7, 7, 6);
}

.nav {
     width: 100%;
     margin: 0 auto;
     background-color: rgba(0, 0, 0, 0.8)
}

.nav-link {
     color: white
}

.nav-link:hover {
     color: rgba(253, 252, 252, 0.267);
     text-decoration: none;
}

.main-section {
     height: 750px;
     padding-top: 150px;
     background: url('../images/animated-img.png');
     background-size: cover;
     background-position: 0 -360px;
     background-attachment: fixed;

}


.social-media {
     color: white
}

.social-media:hover {
     color: rgba(253, 252, 252, 0.267);
     text-decoration: none;
}

.arrow {
     color: white;
     opacity: 0.5;
}

.arrow:hover {
     color: rgba(248, 246, 246, 0.616);
     text-decoration: none;
}

.semi-colon{
 height:200px;
 width:200px;
 font-size:50px;
 margin-right:20px
}

.hr{
     width:100%;     
     border: 2px solid white;

}

.my-portfolio{
   
   
     background: url('../images/woods.jpg');
     background-size: cover;
     background-position: 0 -360px;
     background-attachment: fixed;
     
}
/* .my-projects{
     margin-bottom:100px;
} */
.project-image{
     width:100%;
     height:250px
     }

.project{
     background-color: rgba(0, 0, 0, 0.247);
     width:100%;
     
     
}

/* color */
.btn-white {
     background-color: white;
     color:black
}
.val{
     border-left: 6px solid rgb(249, 252, 249);
     height: 150px;
    
    
}
.icon{
     
     padding-top:10px;
}.my-projects{
     margin-bottom: 100px;
}

.skills_container{
     background: url('../images/mountain.jpg');
     background-size: cover;
     padding-top:100px;
     background-position: 0 -360px;
     background-attachment: fixed;
     
     
}
.Skills{
     background-color: rgba(7, 5, 5, 0.8);
}